.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5%;
}

.header {
  width: 100%;
  flex: 20%;
}

.input-container {
  margin-left: 20%;
}

.section {
  flex: 80%
}